# Data Science Assessment Task

This task involved opening a data file and performing any data science techiques to review the data.

### Initial thoughts
The task as is set out is around finding the data landscape of the given data and identifying how it relates to the *target* field.

### Planned methods:
- [x] Open data in Pandas
- [ ] Determine Data structure
    - [x] Find column types
    - [x] identify any abnormalities in the data
- [ ] Find missing Values
- [ ] Use data with just filled values
    - [ ] For more advanced methods, convert the Gender and Target fields both to boolean fields - making the data fully numeric (should be bool not floats)
    - [ ] Perform clustering analysis using PCA of data and Y/N data fields to colour
    - [ ] Create

## Initial importing of data

In [99]:
#Import data opening tools
import pandas as pd
from tabulate import tabulate

Once the tools we are using have been imported, let's import the data file

In [100]:
#Open Data file
data = pd.read_csv("analysis_data",sep=',')

## Exploration of data
Let's do some simple exploratory analysis of the data

In [101]:
#Print all data in tabular form
# print(tabulate(data,headers='keys', tablefmt='psql'))

#Print all data for Ipython
from IPython.display import display,HTML
display(data)

#Initial Description of data
display(data.describe())
#Since the Gender and target columns are not numeric, let's convert everything to objects for a better comparison
display(data.astype('object').describe())

#Provide a count of the number of NAs per column
display(data.isnull().sum(axis = 0))

#Lets review the data without nas
display(data.dropna().astype('object').describe())
#This confirms my suspicion - the nas are not random, they are specifically on rows 442-568.

,bank_acc_bal,avg_loan_val,spend perc SuperMkt,perc spend Fuel,Years with bank,loan amount,val of propertY,Age,Gender,prev_Salary,last_Bonus,Income,target
0,17.990,10.38,0.2419,0.07871,8.5890,17.33,2019.0,59.0,Female,32.1,101.00,157.0,N
1,20.570,17.77,0.1812,0.05667,3.3980,23.41,1956.0,48.0,Male,21.6,87.00,183.0,N
2,19.690,21.25,0.2069,0.05999,4.5850,25.53,1709.0,72.0,Female,30.5,93.00,156.0,N
3,11.420,20.38,0.2597,0.09744,3.4450,26.50,567.7,24.0,Male,25.3,84.00,198.0,N
4,20.290,14.34,0.1809,0.05883,5.4380,16.67,1575.0,50.0,Male,23.0,101.00,192.0,N
5,12.450,15.70,0.2087,0.07613,2.2170,23.75,741.6,23.0,Male,22.6,89.00,139.0,N
6,18.250,19.98,0.1794,0.05742,3.1800,27.66,1606.0,36.0,Female,22.0,90.00,160.0,N
7,13.710,20.83,0.2196,0.07451,3.8560,28.14,897.0,66.0,Female,26.2,114.00,255.0,N
8,13.000,21.82,0.2350,0.07389,2.4060,30.73,739.3,60.0,Female,32.1,83.00,179.0,N
9,12.460,24.04,0.2030,0.08243,2.0390,40.68,711.4,29.0,Male,30.0,85.00,180.0,N
10,16.020,23.24,0.1528,0.05697,2.4660,33.88,1150.0,22.0,Male,18.6,97.00,114.0,N
11,15.780,17.89,0.1842,0.06082,3.5640,27.28,1299.0,56.0,Female,28.0,85.00,184.0,N
12,19.170,24.80,0.2397,0.07800,11.0700,29.94,1332.0,53.0,Male,23.7,92.00,186.0,N
13,15.850,23.95,0.1847,0.05338,2.9030,27.66,876.5,50.0,Female,26.2,97.00,186.0,N
14,13.730,22.61,0.2069,0.07682,2.0610,32.01,697.7,61.0,Male,24.0,91.00,202.0,N
15,14.540,27.54,0.2303,0.07077,2.8790,37.13,943.2,34.0,Female,24.7,118.00,254.0,N
16,14.680,20.13,0.1586,0.05922,3.1950,30.88,1138.0,47.0,Male,30.3,109.00,207.0,N
17,16.130,20.68,0.2164,0.07356,3.8540,31.48,1315.0,68.0,Female,27.5,111.00,214.0,N
18,19.810,22.15,0.1582,0.05395,5.8650,30.88,2398.0,38.0,Male,25.4,84.00,162.0,N
19,13.540,14.36,0.1885,0.05766,2.0580,19.26,711.2,41.0,Male,24.7,83.00,187.0,Y
20,13.080,15.71,0.1967,0.06811,1.3830,20.49,630.5,35.0,Male,21.1,82.00,156.0,Y
21,9.504,12.44,0.1815,0.06905,1.9090,15.66,314.9,25.0,Female,24.3,95.00,162.0,Y
22,15.340,14.26,0.2521,0.07032,3.3840,19.08,980.9,25.0,Male,26.0,92.00,187.0,N
23,21.160,23.04,0.1769,0.05278,4.3030,35.59,2615.0,61.0,Female,32.0,103.67,210.0,N
24,16.650,21.38,0.1995,0.06330,5.4550,31.56,2215.0,31.0,Male,29.7,88.00,167.0,N
25,17.140,16.40,0.3040,0.07413,7.2760,21.40,1461.0,30.0,Female,25.2,83.00,178.0,N
26,14.580,21.53,0.2252,0.06924,2.1100,33.21,896.9,19.0,Male,19.2,87.00,124.0,N
27,18.610,20.25,0.1697,0.05699,5.6320,27.26,1403.0,42.0,Male,31.9,83.00,158.0,N
28,15.300,25.27,0.1926,0.06540,3.4980,36.71,1269.0,63.0,Male,24.4,73.00,160.0,N
29,17.570,15.05,0.1739,0.06149,4.6550,19.52,1227.0,67.0,Female,25.8,113.00,158.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
539,7.691,25.44,0.2037,0.07751,1.4450,31.89,223.6,NaN,NaN,NaN,NaN,NaN,Y
540,11.540,14.44,0.1818,0.06782,1.6280,19.68,457.8,NaN,NaN,NaN,NaN,NaN,Y
541,14.470,24.99,0.1872,0.06341,2.6150,31.73,808.9,NaN,NaN,NaN,NaN,NaN,Y
542,14.740,25.42,0.1840,0.05680,2.1770,32.29,826.4,NaN,NaN,NaN,NaN,NaN,Y
543,13.210,28.06,0.1628,0.05781,1.5390,37.17,629.6,NaN,NaN,NaN,NaN,NaN,Y
544,13.870,20.70,0.1620,0.06688,2.0760,24.75,688.6,NaN,NaN,NaN,NaN,NaN,Y
545,13.620,23.23,0.1664,0.05801,2.0660,29.09,729.8,NaN,NaN,NaN,NaN,NaN,Y
546,10.320,16.35,0.1885,0.06201,1.3560,21.77,384.9,NaN,NaN,NaN,NaN,NaN,Y
547,10.260,16.58,0.1669,0.06714,0.9887,22.04,357.4,NaN,NaN,NaN,NaN,NaN,Y
548,9.683,19.34,0.1580,0.06235,2.0540,25.59,364.2,NaN,NaN,NaN,NaN,NaN,Y
549,10.820,24.21,0.1976,0.06328,3.5640,31.45,505.6,NaN,NaN,NaN,NaN,NaN,Y
550,10.860,21.48,0.1661,0.05948,2.1150,24.77,412.3,NaN,NaN,NaN,NaN,NaN,Y
551,11.130,22.44,0.2030,0.06552,1.9940,28.26,436.6,NaN,NaN,NaN,NaN,NaN,Y
552,12.770,29.43,0.1539,0.05637,1.4770,36.00,594.7,NaN,NaN,NaN,NaN,NaN,Y
553,9.333,21.94,0.1692,0.06576,2.1210,25.05,295.8,NaN,NaN,NaN,NaN,NaN,Y
554,12.880,28.92,0.1566,0.05708,1.5020,35.74,595.7,NaN,NaN,NaN,NaN,NaN,Y
555,10.290,27.61,0.1593,0.06127,1.4370,34.91,357.6,NaN,NaN,NaN,NaN,NaN,Y
556,10.160,19.59,0.1791,0.06331,1.6480,22.88,347.3,NaN,NaN,NaN,NaN,NaN,Y
557,9.423,27.88,0.1742,0.06059,3.6180,34.24,330.6,NaN,NaN,NaN,NaN,NaN,Y
558,14.590,22.68,0.1454,0.06147,2.2240,27.27,733.5,NaN,NaN,NaN,NaN,NaN,Y
559,11.510,23.93,0.1388,0.06570,1.9360,37.16,474.2,NaN,NaN,NaN,NaN,NaN,Y
560,14.050,27.15,0.1537,0.06171,2.8880,33.17,706.7,NaN,NaN,NaN,NaN,NaN,Y
561,11.200,29.37,0.1060,0.05502,2.0410,38.30,439.6,NaN,NaN,NaN,NaN,NaN,Y
562,15.220,30.62,0.2128,0.07152,2.3620,42.79,915.0,NaN,NaN,NaN,NaN,NaN,N
563,20.920,25.09,0.2149,0.06879,8.7580,29.41,1819.0,NaN,NaN,NaN,NaN,NaN,N
564,21.560,22.39,0.1726,0.05623,7.6730,26.40,2027.0,NaN,NaN,NaN,NaN,NaN,N
565,20.130,28.25,0.1752,0.05533,5.2030,38.25,1731.0,NaN,NaN,NaN,NaN,NaN,N
566,16.600,28.08,0.1590,0.05648,3.4250,34.12,1124.0,NaN,NaN,NaN,NaN,NaN,N
567,20.600,29.33,0.2397,0.07016,5.7720,39.42,1821.0,NaN,NaN,NaN,NaN,NaN,N
568,7.760,24.54,0.1587,0.05884,2.5480,30.37,268.6,NaN,NaN,NaN,NaN,NaN,Y

,bank_acc_bal,avg_loan_val,spend perc SuperMkt,perc spend Fuel,Years with bank,loan amount,val of propertY,Age,prev_Salary,last_Bonus,Income
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,442.000000,442.000000,442.000000,442.000000
mean,14.127292,19.289649,0.181162,0.062798,2.866059,25.677223,880.583128,48.518100,26.375792,94.647014,189.140271
std,3.524049,4.301036,0.027414,0.007060,2.021855,6.146258,569.356993,13.109028,4.418122,13.831283,34.608052
min,6.981000,9.710000,0.106000,0.049960,0.757000,12.020000,185.200000,19.000000,18.000000,62.000000,97.000000
25%,11.700000,16.170000,0.161900,0.057700,1.606000,21.080000,515.300000,38.250000,23.200000,84.000000,164.250000
50%,13.370000,18.840000,0.179200,0.061540,2.287000,25.410000,686.500000,50.000000,25.700000,93.000000,186.000000
75%,15.780000,21.800000,0.195700,0.066120,3.357000,29.720000,1084.000000,59.000000,29.275000,105.000000,209.750000
max,28.110000,39.280000,0.304000,0.097440,21.980000,49.540000,4254.000000,79.000000,42.200000,133.000000,301.000000

,bank_acc_bal,avg_loan_val,spend perc SuperMkt,perc spend Fuel,Years with bank,loan amount,val of propertY,Age,Gender,prev_Salary,last_Bonus,Income,target
count,569.00,569.00,569.0000,569.00000,569.000,569.0,569.0,442.0,442,442.0,442.0,442.0,569
unique,456.00,479.00,432.0000,499.00000,533.000,511.0,544.0,58.0,2,163.0,100.0,141.0,2
top,12.34,18.22,0.1769,0.05907,1.778,17.7,472.4,53.0,Male,24.1,93.0,162.0,Y
freq,4.00,3.00,4.0000,3.00000,4.000,3.0,2.0,19.0,235,8.0,21.0,10.0,357

bank_acc_bal              0
avg_loan_val              0
spend perc SuperMkt       0
perc spend Fuel           0
Years with bank           0
loan amount               0
val of propertY           0
Age                     127
Gender                  127
prev_Salary             127
last_Bonus              127
Income                  127
target                    0
dtype: int64

,bank_acc_bal,avg_loan_val,spend perc SuperMkt,perc spend Fuel,Years with bank,loan amount,val of propertY,Age,Gender,prev_Salary,last_Bonus,Income,target
count,442.00,442.00,442.0000,442.00000,442.000,442.0,442.0,442.0,442,442.0,442.0,442.0,442
unique,366.00,390.00,357.0000,401.00000,419.000,406.0,427.0,58.0,2,163.0,100.0,141.0,2
top,13.05,17.46,0.1769,0.06113,1.778,17.7,708.8,53.0,Male,24.1,93.0,162.0,Y
freq,3.00,3.00,4.0000,3.00000,4.000,3.0,2.0,19.0,235,8.0,21.0,10.0,260

Another look at the original datafile shows that some entries explicitly have *nan* as their value, while others are empty.
Simple inspection shows the following:

| Column Name | Value Type   |
|------------:|--------------|
|         Age | Empty Values |
|      Gender | nan Values   |
| prev_Salary | Empty Values |
|  last_Bonus | Empty Values |
|      Income | Empty Values |

This may be relevant later, as these are different types of missing value.

In [102]:
#Since data is small, make a copy
data_temp = data

# map columns to bool values
GenderMap = {'Male':1, 'Female':0} #Apologies for the convention
TargetMap = {'Y':1, 'N':0}

data_temp['is_male'] = data_temp['Gender'].map(GenderMap).astype('bool')
# data_temp.drop(labels='Gender',axis=1,inplace=True) #Probably unneccessary renaming of variables
data_temp['target'] = data_temp['target'].map(TargetMap).astype('bool')

display(data_temp)

,bank_acc_bal,avg_loan_val,spend perc SuperMkt,perc spend Fuel,Years with bank,loan amount,val of propertY,Age,Gender,prev_Salary,last_Bonus,Income,target,is_male
0,17.990,10.38,0.2419,0.07871,8.5890,17.33,2019.0,59.0,Female,32.1,101.00,157.0,False,False
1,20.570,17.77,0.1812,0.05667,3.3980,23.41,1956.0,48.0,Male,21.6,87.00,183.0,False,True
2,19.690,21.25,0.2069,0.05999,4.5850,25.53,1709.0,72.0,Female,30.5,93.00,156.0,False,False
3,11.420,20.38,0.2597,0.09744,3.4450,26.50,567.7,24.0,Male,25.3,84.00,198.0,False,True
4,20.290,14.34,0.1809,0.05883,5.4380,16.67,1575.0,50.0,Male,23.0,101.00,192.0,False,True
5,12.450,15.70,0.2087,0.07613,2.2170,23.75,741.6,23.0,Male,22.6,89.00,139.0,False,True
6,18.250,19.98,0.1794,0.05742,3.1800,27.66,1606.0,36.0,Female,22.0,90.00,160.0,False,False
7,13.710,20.83,0.2196,0.07451,3.8560,28.14,897.0,66.0,Female,26.2,114.00,255.0,False,False
8,13.000,21.82,0.2350,0.07389,2.4060,30.73,739.3,60.0,Female,32.1,83.00,179.0,False,False
9,12.460,24.04,0.2030,0.08243,2.0390,40.68,711.4,29.0,Male,30.0,85.00,180.0,False,True
10,16.020,23.24,0.1528,0.05697,2.4660,33.88,1150.0,22.0,Male,18.6,97.00,114.0,False,True
11,15.780,17.89,0.1842,0.06082,3.5640,27.28,1299.0,56.0,Female,28.0,85.00,184.0,False,False
12,19.170,24.80,0.2397,0.07800,11.0700,29.94,1332.0,53.0,Male,23.7,92.00,186.0,False,True
13,15.850,23.95,0.1847,0.05338,2.9030,27.66,876.5,50.0,Female,26.2,97.00,186.0,False,False
14,13.730,22.61,0.2069,0.07682,2.0610,32.01,697.7,61.0,Male,24.0,91.00,202.0,False,True
15,14.540,27.54,0.2303,0.07077,2.8790,37.13,943.2,34.0,Female,24.7,118.00,254.0,False,False
16,14.680,20.13,0.1586,0.05922,3.1950,30.88,1138.0,47.0,Male,30.3,109.00,207.0,False,True
17,16.130,20.68,0.2164,0.07356,3.8540,31.48,1315.0,68.0,Female,27.5,111.00,214.0,False,False
18,19.810,22.15,0.1582,0.05395,5.8650,30.88,2398.0,38.0,Male,25.4,84.00,162.0,False,True
19,13.540,14.36,0.1885,0.05766,2.0580,19.26,711.2,41.0,Male,24.7,83.00,187.0,True,True
20,13.080,15.71,0.1967,0.06811,1.3830,20.49,630.5,35.0,Male,21.1,82.00,156.0,True,True
21,9.504,12.44,0.1815,0.06905,1.9090,15.66,314.9,25.0,Female,24.3,95.00,162.0,True,False
22,15.340,14.26,0.2521,0.07032,3.3840,19.08,980.9,25.0,Male,26.0,92.00,187.0,False,True
23,21.160,23.04,0.1769,0.05278,4.3030,35.59,2615.0,61.0,Female,32.0,103.67,210.0,False,False
24,16.650,21.38,0.1995,0.06330,5.4550,31.56,2215.0,31.0,Male,29.7,88.00,167.0,False,True
25,17.140,16.40,0.3040,0.07413,7.2760,21.40,1461.0,30.0,Female,25.2,83.00,178.0,False,False
26,14.580,21.53,0.2252,0.06924,2.1100,33.21,896.9,19.0,Male,19.2,87.00,124.0,False,True
27,18.610,20.25,0.1697,0.05699,5.6320,27.26,1403.0,42.0,Male,31.9,83.00,158.0,False,True
28,15.300,25.27,0.1926,0.06540,3.4980,36.71,1269.0,63.0,Male,24.4,73.00,160.0,False,True
29,17.570,15.05,0.1739,0.06149,4.6550,19.52,1227.0,67.0,Female,25.8,113.00,158.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539,7.691,25.44,0.2037,0.07751,1.4450,31.89,223.6,NaN,NaN,NaN,NaN,NaN,True,True
540,11.540,14.44,0.1818,0.06782,1.6280,19.68,457.8,NaN,NaN,NaN,NaN,NaN,True,True
541,14.470,24.99,0.1872,0.06341,2.6150,31.73,808.9,NaN,NaN,NaN,NaN,NaN,True,True
542,14.740,25.42,0.1840,0.05680,2.1770,32.29,826.4,NaN,NaN,NaN,NaN,NaN,True,True
543,13.210,28.06,0.1628,0.05781,1.5390,37.17,629.6,NaN,NaN,NaN,NaN,NaN,True,True
544,13.870,20.70,0.1620,0.06688,2.0760,24.75,688.6,NaN,NaN,NaN,NaN,NaN,True,True
545,13.620,23.23,0.1664,0.05801,2.0660,29.09,729.8,NaN,NaN,NaN,NaN,NaN,True,True
546,10.320,16.35,0.1885,0.06201,1.3560,21.77,384.9,NaN,NaN,NaN,NaN,NaN,True,True
547,10.260,16.58,0.1669,0.06714,0.9887,22.04,357.4,NaN,NaN,NaN,NaN,NaN,True,True
548,9.683,19.34,0.1580,0.06235,2.0540,25.59,364.2,NaN,NaN,NaN,NaN,NaN,True,True
549,10.820,24.21,0.1976,0.06328,3.5640,31.45,505.6,NaN,NaN,NaN,NaN,NaN,True,True
550,10.860,21.48,0.1661,0.05948,2.1150,24.77,412.3,NaN,NaN,NaN,NaN,NaN,True,True
551,11.130,22.44,0.2030,0.06552,1.9940,28.26,436.6,NaN,NaN,NaN,NaN,NaN,True,True
552,12.770,29.43,0.1539,0.05637,1.4770,36.00,594.7,NaN,NaN,NaN,NaN,NaN,True,True
553,9.333,21.94,0.1692,0.06576,2.1210,25.05,295.8,NaN,NaN,NaN,NaN,NaN,True,True
554,12.880,28.92,0.1566,0.05708,1.5020,35.74,595.7,NaN,NaN,NaN,NaN,NaN,True,True
555,10.290,27.61,0.1593,0.06127,1.4370,34.91,357.6,NaN,NaN,NaN,NaN,NaN,True,True
556,10.160,19.59,0.1791,0.06331,1.6480,22.88,347.3,NaN,NaN,NaN,NaN,NaN,True,True
557,9.423,27.88,0.1742,0.06059,3.6180,34.24,330.6,NaN,NaN,NaN,NaN,NaN,True,True
558,14.590,22.68,0.1454,0.06147,2.2240,27.27,733.5,NaN,NaN,NaN,NaN,NaN,True,True
559,11.510,23.93,0.1388,0.06570,1.9360,37.16,474.2,NaN,NaN,NaN,NaN,NaN,True,True
560,14.050,27.15,0.1537,0.06171,2.8880,33.17,706.7,NaN,NaN,NaN,NaN,NaN,True,True
561,11.200,29.37,0.1060,0.05502,2.0410,38.30,439.6,NaN,NaN,NaN,NaN,NaN,True,True
562,15.220,30.62,0.2128,0.07152,2.3620,42.79,915.0,NaN,NaN,NaN,NaN,NaN,False,True
563,20.920,25.09,0.2149,0.06879,8.7580,29.41,1819.0,NaN,NaN,NaN,NaN,NaN,False,True
564,21.560,22.39,0.1726,0.05623,7.6730,26.40,2027.0,NaN,NaN,NaN,NaN,NaN,False,True
565,20.130,28.25,0.1752,0.05533,5.2030,38.25,1731.0,NaN,NaN,NaN,NaN,NaN,False,True
566,16.600,28.08,0.1590,0.05648,3.4250,34.12,1124.0,NaN,NaN,NaN,NaN,NaN,False,True
567,20.600,29.33,0.2397,0.07016,5.7720,39.42,1821.0,NaN,NaN,NaN,NaN,NaN,False,True
568,7.760,24.54,0.1587,0.05884,2.5480,30.37,268.6,NaN,NaN,NaN,NaN,NaN,True,True

In [103]:
#Deal with unknown values
#Since we have the target field, see if there is any statistical correlation between target and missing
display('For all rows')
display('Overall Counts')
display(data['target'].value_counts())
display('Proportions')
data['target'].value_counts(normalize=True)

'For all rows'

'Overall Counts'

True     357
False    212
Name: target, dtype: int64

'Proportions'

True     0.627417
False    0.372583
Name: target, dtype: float64

In [104]:
#All NA rows
display('For NA rows')
display('Overall Counts')
display(data[data.isna().any(axis=1)]['target'].value_counts())
display('Proportions')
display(data[data.isna().any(axis=1)]['target'].value_counts(normalize=True))

'For NA rows'

'Overall Counts'

True     97
False    30
Name: target, dtype: int64

'Proportions'

True     0.76378
False    0.23622
Name: target, dtype: float64

In [105]:
#Non NA rows
display('For no NA rows')
display('Overall Counts')
display(data.dropna()['target'].value_counts())
display('Proportions')
display(data.dropna()['target'].value_counts(normalize=True))

'For no NA rows'

'Overall Counts'

True     260
False    182
Name: target, dtype: int64

'Proportions'

True     0.588235
False    0.411765
Name: target, dtype: float64

The proportions do seem to be different, so we will return to this later

In [ ]:
#Non NA rows
display('For no NA rows')
display('Overall Counts')
display(data.dropna()['target'].value_counts())
display('Proportions')
display(data.dropna()['target'].value_counts(normalize=True))

Once the tools we are using have been imported, let's import the data file

In [ ]:
#Open Data file
data = pd.read_csv("analysis_data",sep=',')